.form {
	display: flex;
	align-items:center;
    justify-content: center;
}

.form_items {
    margin-top: 30px;
    padding: 40px;
    height: 360px;
	width: 456px;
	display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 10px grey;
    background: #F7F5F9;
    border-radius: 12px;
}


body {
	font-size: 16px;
}
.form_items:hover {
	border: 2px solid #00BFFF;
}

.form_head_name {
   
	font-family: Roboto;
	font-size: 26px;
	font-weight: 700;
	 margin-bottom: 30px;
}


.form_head_name:hover { 
  text-decoration: underline;
  text-decoration-color: #00BFFF;
}

.form_head_name p:hover + .form_items:hover {
	 border: 3px solid red;
}

input {
    margin-top: -10px;
    margin-bottom: 40px;
    background: #FFFFFF;
    border: none;
	border-radius: 6px;
	padding: 18px 30px;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
   
}

input::placeholder {
	font-size: 18px;
	padding-left:-20px;
}


input:hover {
	border: 2px solid #854FC8;
}

input:hover::-webkit-input-placeholder {
  text-decoration: underline;
  text-decoration-color: #854FC8;
}

.form_btn {
  background: #5C69E1;
  border-radius: 6px;
  text-align: center;
  padding: 12px 20px;
  color: white;
  border: none;
  font-size: 19px;
}

.form_btn:hover {
  text-decoration: underline;
  text-decoration-color: #00BFFF;
} 

input:focus::-webkit-input-placeholder {
  color: transparent;
  text-decoration-color: transparent;
}




